python-decouple~=3.8
langchain~=0.3.21
langchain-core~=0.3.49
langchain-openai~=0.3.11
langchain-deepseek~=0.1.3
langchain-chroma~=0.2.2
langchain-community~=0.3.20
langchain-ollama~=0.3.0
langchain-redis~=0.2.0
langchain-postgres~=0.0.13
#langchain_anthropic~=0.3.10
langgraph~=0.3.21
langserve~=0.3.1
LangSmith~=0.3.19
beautifulsoup4~=4.13.3
chromadb~=0.6.3
onnxruntime~=1.19.2
openai~=1.70.0
swarm~=0.1.0
#dspy~=2.6.16
autogen-agentchat~=0.4.9.3
autogen-ext[openai,langchain]~=0.4.9.3
llama-index~=0.12.27
llama-index-core~=0.12.27
llama-index-llms-deepseek~=0.1.1
llama-index-indices-managed-dashscope~=0.3.0
#llama-index-postprocessor-dashscope-rerank-custom~=0.1.0
dashscope~=1.22.2
text2vec~=1.3.3
uvicorn~=0.34.0
fastapi~=0.115.12
sse_starlette~=2.2.1
pydantic~=2.11.1
pypdf~=5.4.0
unstructured~=0.17.2
unstructured_inference~=0.8.10
pi_heif~=0.22.0
jq~=1.8.0
bs4~=0.0.2
boto3~=1.35.0
requests~=2.34.0
python-multipart~=0.0.21
httpx~=0.28.0
pytest~=8.3.0